@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Quicksand', sans-serif;
    background-color: #191A19;
    color: #D8E9A8;
    overflow: auto;
    scroll-padding-top: 50px;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
    color: #D8E9A8;
}

.btn {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 3px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #D8E9A8;
    background-color: #1E5128;
    color: #D8E9A8;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.6;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.container {
    display: flex;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
}

header {
    width: 100%;
    display: block;
}

.navbar {
    max-width: 1140px;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 16px;
    padding-bottom: 16px;
    position: sticky;
    top: 0;
}

.menu {
    display: none;
}

.navbar .logo {
    font-size: 18px;
    font-weight: 600;
    text-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    color: #D8E9A8;
}

.tab {
    list-style-type: none;
    padding-left: 24px;
    font-size: 16px;
    font-weight: 500;
    color: #D8E9A8;
    cursor: pointer;
}

.tab:hover,
.active {
    opacity: 0.8;
}

.nav-list .nav-item {
    display: inline-block;
}

.menu-line {
    width: 20px;
    height: 3px;
    background-color: #D8E9A8;
    margin-top: 4px;
}

main {
    padding-top: 20px;
}

.card {
    padding: 16px;
    border-radius: 50px;
    background: #1E5128;
    box-shadow: 7px -7px 1px #1a4522,
        -7px 7px 1px #235d2e;
}

.portofolio-img {
    max-width: 190px;
    margin-bottom: 8px;
    border-radius: 20px;
}

.portofolio-item {
    margin: 16px;
    max-width: 250px;
}

.skill-img {
    max-width: 100px;
    margin: auto;
}

.skill-item {
    margin: 16px;
    max-width: 150px;
}

.contact-img {
    max-width: 80px;
    margin-left: 16px;
    padding: 16px;
    border: 2px solid #D8E9A8;
    border-radius: 20px;
}

.contact-item {
    margin: 14px;
    width: 100%;
    max-width: 1000px;
}

.contact-text {
    padding: 16px;
}

article {
    scroll-margin-top: 68px;
    flex-grow: 5;
    margin-right: 40px;
}

#Home {
    flex: 3;
}

#Home h1 {
    font-size: xx-large;
    font-weight: 900;
}

#Home span {
    color: white;
}

#Home h2 {
    font-size: x-large;
    font-weight: 500;
}

#Home p {
    margin-top: 16px;
}


#Kemampuan {
    flex: 3;
}

#Kemampuan h1 {
    margin-bottom: 20px;
}

#Kemampuan p {
    font-size: 14px;
    margin-top: 14px;
}

#Portofolio {
    flex: 3;
}

#Portofolio p,
a {
    font-size: 14px;
}

#Hubungi {
    flex: 3;
}

#Hubungi h1 {
    margin-bottom: 20px;
}

#biodata {
    /* max-width: 400px; */
    flex: 2;
}

#biodata td {
    padding: 10px;
}

.biodata-img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 100px;
    box-shadow: 7px -7px 5px #1a4522,
        -7px 7px 5px #235d2e;
    margin: 16px;
}

.bold {
    font-weight: 700;
}

hr.solid {
    width: 20%;
    border-top: 3px solid #bbb;
    margin: 16px 0;
    border-radius: 5px;
}

footer {
    padding: 16px;
    margin-top: 14px;
}

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    #Portofolio .flex-row {
        flex-direction: column;
    }

    #Kemampuan .flex-row {
        flex-direction: column;
    }

    #Hubungi .flex-row {
        flex-direction: column;
    }

    .contact-item {
        flex-direction: row !important;
    }
}

@media only screen and (max-width: 768px) {
    .flex-row {
        flex-direction: column;
    }

    .card {
        padding: 14px;
        margin: 16px;
    }

    .container {
        max-width: 540px;
        margin: auto;
    }

    .btn {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 8px;
        padding-left: 8px;
        margin: 3px;
        border-radius: 5px;
    }

    .navbar {
        flex-direction: row;
    }

    #Home h1 {
        font-size: 20px;
    }

    #Home h2 {
        font-size: medium;
    }

    #Home p {
        margin-top: 8px;
        font-size: 12px;
    }

    #Portofolio .flex-row {
        flex-direction: row;
    }

    #Portofolio h1 {
        font-size: 18px;
    }

    #Portofolio p {
        font-size: 14px;
    }

    #biodata {
        max-width: 100%;
    }

    #biodata td {
        padding: 5px;
        font-size: 14px;
    }

    #biodata h1 {
        font-size: 18px;
    }

    .biodata-img {
        max-width: 100px;
        max-height: 100px;
        border-radius: 50px;
        margin: 16px;
    }

    #Kemampuan h1 {
        margin-bottom: 10px;
        font-size: 18px;
    }

    #Kemampuan .flex-row {
        flex-direction: row;
    }

    #Kemampuan p {
        font-size: 14px;
        margin-top: 7px;
    }

    #Hubungi h1 {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .contact-img {
        max-width: 50px;
        max-height: 50px;
        margin-left: 8px;
        padding: 12px;
        border-radius: 10px;
    }

    .contact-item {
        margin: 10px;
        flex-direction: row;
        align-items: center;
    }

    .contact-text {
        font-size: 14px;
        padding: 8px;
    }
}

@media only screen and (max-width: 576px) {
    main {
        margin-top: 30px !important;
    }

    .flex-row {
        flex-direction: column;
    }

    .card {
        padding: 14px;
        margin: 16px;
    }

    .btn {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 8px;
        padding-left: 8px;
        margin: 3px;
        border-radius: 5px;
    }

    .navbar {
        padding-left: 18px;
        padding-right: 18px;
        overflow: hidden;
        position: fixed;
        width: 100%;
        top: 0;
    }

    .logo {
        align-self: flex-start;
    }

    .menu {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
        display: block;
        position: absolute;
        top: 18px;
        right: 18px;
    }

    .nav-list {
        width: 100%;
        text-align: center;
        padding-top: 8px;
        display: none;
    }

    .nav-list .nav-item {
        display: block;
        padding: 8px;
    }

    .tab {
        padding-left: 0;
    }

    .tab:hover,
    .active {
        opacity: 0.6;
    }


    #Home h1 {
        font-size: 20px;
    }

    #Home h2 {
        font-size: medium;
    }

    #Home p {
        margin-top: 8px;
        font-size: 12px;
    }

    #Portofolio {
        margin-top: 20px;
    }

    #Portofolio .flex-row {
        flex-direction: column;
    }

    #Portofolio h1 {
        font-size: 18px;
    }

    #Portofolio p {
        font-size: 14px;
    }

    #biodata {
        max-width: 100%;
    }

    #biodata td {
        padding: 5px;
        font-size: 14px;
    }

    #biodata h1 {
        font-size: 18px;
    }

    .biodata-img {
        max-width: 100px;
        max-height: 100px;
        border-radius: 50px;
        margin: 16px;
    }

    #Kemampuan .flex-row {
        flex-direction: column;
    }

    #Kemampuan h1 {
        margin-bottom: 10px;
        font-size: 18px;
    }

    #Kemampuan p {
        font-size: 14px;
        margin-top: 7px;
    }

    #Hubungi h1 {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .contact-img {
        max-width: 50px;
        max-height: 50px;
        margin-left: 8px;
        padding: 12px;
        border-radius: 10px;
    }

    .contact-item {
        margin: 10px;
        flex-direction: row;
        align-items: center;
    }

    .contact-text {
        font-size: 14px;
        padding: 8px;
        word-break: break-all;
    }

    .menu-toggle {
        display: block;
    }

    .menu-bg {
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(11.5px);
        -webkit-backdrop-filter: blur(11.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }
}